:root {--color1: #212121;}
:root {--color2: #2196F3;}
:root {--color3: #757575;}
:root {--color4: #000000;}
:root {--color5: #ECECEC;}
:root {--color6: #FFFFFF;}
:root {--color7: #2F303A;}
:root {--color8: #F5F4FA;}
:root {--color9: #EEEEEE;}

.blue {color: var(--color2);}
.bluebutton {background-color: var(--color2);}
.greyback {background-color: var(--color7);}
.whitefont {color: var(--color6);}
.lightgrey {color: var(--color3);}
.blackfont {color: var(--color1);}

body {font-family: 'Roboto', sans-serif;}
header>h1 {font-family: 'Raleway', sans-serif;}
footer>h2 {font-family: 'Raleway', sans-serif;}
.container {width: 1600px; height: 648px; margin: auto 0;}
.section-container {width: 270px; display: inline-block;}
.effective-buisness-container {width: 1600px; height: 600px; margin: 0 auto;}
.effective-buisness {width: 696px; height: 120px; margin: auto auto; font-size: 44px;}
.effective-buisness-button {width: 216px; height: 50px;}
.what-we-do {width: 1170px; margin: 0 auto;}
.special {margin: 0 387px}
.list {display: inline-block;}
.our-team {width: 1170px; margin: auto;}
.footer {height: 252px; width: 1600px;}
.filters {width: 575px; margin: 0 auto;}
.project {width: 370px; height: 404px; display: inline-block;}
